/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ccc;
    --link-color: #2996FD;
}

/* Fonts */
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 100;
    src:
        url("../fonts/sf-pro-display_regular.woff2") format("woff2"),
        url("../fonts/sf-pro-display_regular.woff2") format("woff2");
}
  
@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src:
        url("../fonts/sf-pro-display_semibold.woff2") format("woff2"),
        url("../fonts/sf-pro-display_semibold.woff2") format("woff2");
}
  
@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    src:
        url("../fonts/sf-pro-text_semibold.woff2") format("woff2"),
        url("../fonts/sf-pro-text_semibold.woff2") format("woff2");
}
  
@font-face {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/sf-pro-text_regular.woff2") format("woff2"),
        url("../fonts/sf-pro-text_regular.woff2") format("woff2");
}
  
@font-face {
    font-family: "SF Pro Icons";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/sf-pro-icons_regular.woff2") format("woff2"),
        url("../fonts/sf-pro-icons_regular.woff2") format("woff2");
}

a {
    text-decoration: none;
}

/* Utilities */
.icon {
 font-size: 16px;
}

.bar {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.link {
    color: var(--link-color);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    margin: 0 1rem;
}

.link:hover {
    border-bottom: 1px solid var(--link-color);
}

.ad-link:hover {
    border-bottom: 1px solid #fff;
}

.title {
    font-size: 3rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 29px;
    text-align: center;
    margin: 2rem 0 1.5rem 0;
}

.sub-title {
    font-size: 1.5rem;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin: 0 0 1rem 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
}

.footer-title {
    color: #000;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 16px;
    padding: 0.5rem 0;
}

.footer-link {
    color: #6e6e73;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 16px;
}

.footer-link:hover {
    border-bottom: #6e6e73 1px solid;
}

.footer-bar {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
}

/* Navbar Styling */
#navbar {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333333;
}

#navbar ul li {
    padding: 0.1rem;
    margin: 0 0.4rem;
}

#navbar ul li a {
    color: var(--primary-color);
    padding: 0.7rem;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 44px;
    transition: all 0.3s ease;
}

#navbar ul li a:hover {
    color: #fff;
}

/* Main Styling */
main .ad {
    background-color: #E34140;
    height: 9.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    padding: 0.6rem;
}

main .ad a {
    color: #fff;
}

/* Top Half styling */
#half-1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

#half-1 .box-1 {
    background-color: #FBEDF9;
}

#half-1 .box-1 .top-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 2rem 0;
}

#half-1 .box-1 .bottom-half img {
    animation: rotation 4s 0.125s ease-in-out forwards;
}

@keyframes rotation {
    0% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#half-1 .box-2 {
    background: url("../imgs/iphone_13_pro.jpg") center center / cover no-repeat;
}

#half-1 .box-3 {
    background: url("../imgs/iphone_13.jpg") center center / cover no-repeat;
}

#half-1 .box-3 .title {
    color: #fff;
}

#half-1 .box-3 .sub-title {
    color: #FEC2EB;
}

/* Bottom Half Styling */
#half-2 {
    height: 150vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex-grow: 1;
}

#half-2 .box-1 {
    background: url("../imgs/macbook.jpg") center center/ cover no-repeat;
    margin-top: 1rem;
}

#half-2 .box-2 {
    background: url("../imgs/watch.jpg") center center/ cover no-repeat;
    margin-top: 1rem;
}

#half-2 .box-3 {
    background: url("../imgs/homepod.jpg") center center/ cover no-repeat;
}

#half-2 .box-4 {
    background: url("../imgs/apple_arcade_bg.jpg") center center/ cover no-repeat;
}

#half-2 .box-5 {
    background: url("../imgs/card.jpg") center center/ cover no-repeat;
}

#half-2 .box-6 {
    background: url("../imgs/promo_bg.jpg") center center/ cover no-repeat;
    justify-content: space-between;
}

#half-2 .box-6 .link {
    color: #fff;
}

#half-2 .box-6 .link:hover {
    border-color: #fff;
}

/* Footer Styling */
footer {
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-footer {
    border-bottom: 1px solid rgba(110, 110, 115, 0.2);
}

.top-footer ul {
    list-style: none;
    max-width: 50vw;
    padding: 1rem 0;
}

.top-footer ul li {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6e6e73;
    font-size: 0.8rem;
    line-height: 16px;
    font-weight: 400;
    padding: 0.5rem 0;
}

.middle-footer {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.middle-footer ul {
    list-style: none;
    padding: 0.5rem 0;
}

.middle-footer ul li {
    padding: 0.2rem 0;
}

.middle-footer .column-1 {
    padding-left: 0;
}

.middle-footer .column-2, .middle-footer .column-4, .middle-footer .column-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-footer {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6e6e73;
    font-size: 0.8rem;
    line-height: 16px;
    font-weight: 400;
    padding: 0.5rem 0;
    width: 50vw;
}

.bottom-footer .top-bar {
    border-bottom: 1px solid rgba(110, 110, 115, 0.2);
}

.bottom-footer .top-bar .footer-link {
    color: var(--link-color);
    border-bottom: 1px solid transparent;
    font-size: 0.8rem;
}

.bottom-footer .top-bar .footer-link:hover {
    border-color: var(--link-color);
}

.bottom-footer .bottom-bar {
    display:  flex;
    justify-content: space-between;
}

.bottom-footer .bottom-bar .left-middle-part{
    display: flex;
}

.bottom-footer .bottom-bar .left-side {
    margin-right: 1rem;
}

.bottom-footer .bottom-bar .middle-side ul {
    list-style: none;
    display: flex;
}

.bottom-footer .bottom-bar .middle-side ul li {
    padding: 0 0.5rem;
}